.loginForm-container {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #160101;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"],input[type="button"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #00a105;
    border: 1px solid #06a50b;
    color: #fff;
    padding: 10px 20px;
    
  }

  input[type="submit"]:hover, input[type="button"]:hover {
    background: #5ff7ab;
  }
  
  input[type="submit"] {
    margin-right: 20px;
  }

  input[type="button"] {
    margin-left: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .loginForm {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  
  .loginTitle {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .loginInput-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }